<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.l000phone.mymobilesafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <!-- 初始界面-->
        <activity
            android:name=".welcome.activity.InitActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 欢迎界面-->
        <activity
            android:name=".welcome.activity.WelcomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 杀毒界面-->
        <activity
            android:name=".weishi.activity.KillActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 扫描结果展示界面-->
        <activity
            android:name=".weishi.activity.ScanResultShowActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

    </application>

</manifest>